/.tscache
/.eslintcache
/.idea
/lib/
/dist/tsBuildInfoFile
node_modules/
/src/**/*.js
/tests/**/*.js
/src/**/*.map
/tests/**/*.map
*.css
*.log
/.awcache
/.cache-loader
/.env
# ignore local cypress artifacts
/cypress/videos/
/cypress/screenshots/
package-lock.json
/dist/
/yarn.lock
# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
