/.tscache
/.eslintcache
/.idea
/lib/
/dist/tsBuildInfoFile
node_modules/
/src/**/*.js
/tests/**/*.js
/src/**/*.map
/tests/**/*.map
*.css
*.log
/.awcache
/.cache-loader
package-lock.json

# ignore local cypress artifacts
/cypress/videos/
/cypress/screenshots/

