<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Ordino</title>
    <meta
      name="description"
      content="Ordino is a browser-based visual data analysis solution to flexibly rank, filter, and explore genes, cell lines, and tissue samples based on a rich set of experimental and metadata."
    />
    <meta name="keywords" content="Ordino, visualization, ranking, genes, cell lines, tissue samples" />
    <meta name="author" content="Johannes Kepler University Linz, Boehringer Ingelheim, datavisyn" />
    <meta name="application-name" content="Ordino" />
    <!--<meta name="theme-color" content="#006192">-->
    <meta name="robots" content="index,nofollow" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="<%=require('tdp_core/dist/assets/favicon.png')%>" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@datavisyn" />
    <meta name="twitter:title" value="Ordino" />
    <meta
      name="twitter:description"
      value="Ordino is a browser-based visual data analysis solution to flexibly rank, filter, and explore genes, cell lines, and tissue samples based on a rich set of experimental and metadata."
    />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Caleydo/ordino_public/master/media/screenshot.full.png" />
    <meta name="twitter:image:alt" content="Screenshot of an analysis session in Ordino." />
    <meta name="twitter:url" value="https://ordino.caleydoapp.org" />

    <!-- Other Social Media -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Ordino" />
    <meta property="og:site_name" content="Ordino" />
    <meta
      property="og:description"
      content="Ordino is a browser-based visual data analysis solution to flexibly rank, filter, and explore genes, cell lines, and tissue samples based on a rich set of experimental and metadata."
    />
    <meta property="og:image" content="https://raw.githubusercontent.com/Caleydo/ordino_public/master/media/screenshot.full.png" />
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/Caleydo/ordino_public/master/media/screenshot.full.png" />
    <meta property="og:image:alt" content="Screenshot of an analysis session in Ordino." />
    <meta property="og:url" content="https://ordino.caleydoapp.org" />
  </head>
  <body>
    <script>
      // maintain compatibility with old session links (e.g., bookmarks, vistories)
      // redirect to app subdirectory if URL hash contains a CLUE session
      if (location.hash.includes('clue_graph') || location.hash.includes('clue_state')) {
        location.replace(location.href.replace('#', 'app/#'));
      }
    </script>
    <div id="welcome">Loading &hellip;</div>
  </body>
</html>
